enum34==1.1.6
matplotlib==2.2.4
numpy==1.16.5
pandas==0.24.2
Pillow==6.2.0
PyJWT==1.7.1
pyparsing==2.4.2
PySide==1.2.2
python-dateutil==2.8.0
pytz==2019.3
pyxdg==0.25
requests==2.22.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.2
subprocess32==3.5.4
urllib3==1.25.3
wrapt==1.11.2
